# Welcome to the CADRE 5 Safes Registry

Now that your email has been verified your petition 
is complete and you may begin to access CADRE 5 Safes 
resources.

This is a placeholder to demonstrate the Confirmation
Redirect URL functionality for COmanage Registry enrollment
flow configuration.
