---
---

@import "{{ site.theme }}";
#header_wrap .inner {
    padding: 200px 10px 30px 10px;
}

#header_wrap {
  background: transparent;
}

#footer_wrap {
  background: transparent;
}

body {
  background: #000 url("https://pbs.twimg.com/profile_images/1386936034349309961/4uK_wlZY_400x400.jpg") no-repeat top center;
  background-size: 600px;
  color: transparent;

}

h1 {
  color: #222222;
}

p {
  color: #222222;
}
